.itemList{

}

.itemList .flex_collection{
    gap: 8px;
}

.item{
    display: flex;
}

.content{
    flex-grow: 1
}

.buttons_block{
    margin-left: 12px;
    display: flex;
    align-items: center;
    gap: 6px;
}
.buttons_block div[name="up"] button,
.buttons_block div[name="down"] button,
.buttons_block div[name="delete"] button{
    padding: 5px;
    gap: 0;
    border: none;
}