.splitbar {
    color: #324552;
    background-color: #ebebeb;
    min-height: 100%;
    border-style: solid;
    outline: 0;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.horizontal {
    width: 8px;
    min-width: 8px;
    border-width: 0;
    background-repeat: repeat-y;
    flex-direction: column;
    cursor: col-resize;
}

.vertical {
    height: 8px;
    min-height: 8px;
    border-width: 0;
    background-repeat: repeat-x;
    flex-direction: row;
    width: 100%;
    cursor: row-resize;
}

.handle_h{
    height: 20px;
    background-color: currentColor;
    position: static;
    width: 6px;
    border-radius: 4px;
    font-size: 10px;
    cursor: pointer;
    z-index: 200;
}

.handle_v {
    width: 20px;
    height: 6px;
    position: static;
    z-index: 200;
    background-color: currentColor;
    cursor: pointer;
    border-radius: 4px;
}

.handle_h::before, .handle_v::before {
    content: "";
    border: 0 solid;
    border-color: inherit;
    vertical-align: baseline;
}

.splitter_horizontal, .splitter_vertical {
    border-width: 1px;
    display: flex;
    overflow: auto;
    position: relative;
    touch-action: none;
    width: 100%;
}

.splitter.splitter_horizontal {
    flex-direction: row;
}

.splitter.splitter_vertical {
    flex-direction: column;
}

.splitter .split_bar.split_bar_horizontal.resizable_split_bar {
    cursor: col-resize;
}

.split_bar_horizontal {
    background: #e0e0e0;
    border-left: none;
    border-right: none;
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    min-width: 1px;
    z-index: 15;
}

/* pane */
.splitter.splitter_horizontal .pane.pane_horizontal, .splitter.splitter_vertical .pane.pane_horizontal {
    overflow: auto;
}

.splitter.splitter_horizontal .pane.static_pane, .splitter.splitter_vertical .pane.static_pane {
    flex-grow: 0;
    flex-shrink: 0;
}

.pane.pane_horizontal {
    flex: 1 1 auto;
}

.resizing:hover{
    background-color: rgb(9, 105, 218);
}