.window {
    border-color: rgba(0, 0, 0, 0.08);
    color: #424242;
    background-color: #ffffff;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.06);
    opacity: 1;
    position: absolute;
    border-radius: 0px;
    padding: 0;
    border-width: 0px;
    border-style: solid;
    z-index: 1000;
    overflow: scroll;
}

.widnow:focus{
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.3);
}

.item_grid_button {
    border-color: transparent;
    /* color: inherit; */
    background: none;
    box-shadow: none;
}

.item_grid_button > div[name='icon'] {
    /* TODO. find other way of overriding inline style priority */
    width: 16px !important;
    height: 16px !important;
}

.window_titlebar {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding-block: 12px;
    padding-inline: 16px;
    border-width: 0 0 1px;
    border-style: solid;
    white-space: nowrap;

    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    flex-shrink: 0;
    align-items: center;

    border-color: inherit;
    color: #424242;
    background-color: #fafafa;
}
.window_titlebar__title_wrapper {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    padding-block: 0.5em;
    padding-inline: 0;
    margin-block: -0.5em;
    margin-inline: 0;
    align-items: center;
    gap: 5px
}

.window_titlebar__title {
    font-size: 16px;
    line-height: 1.25;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: default;
}

.window_titlebar__actions {
    margin-block: -5em;
    margin-inline: 0;
    margin-inline-end: -4px;
    line-height: 1;
    display: flex;
    flex-flow: row nowrap;
    flex-shrink: 0;
    align-items: center;
    vertical-align: top;
}

.window_content {
    padding-block: 16px;
    padding-inline: 16px;
    border-width: 0;
    border-color: inherit;
    color: inherit;
    background: none;
    outline: 0;
    overflow: auto;
    position: relative;
    flex: 1 1 auto;
}

.resize_handle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-color: inherit;
    z-index: 200;
}

.resize_handle::before {
    content: "";
    border: 0 solid;
    border-color: inherit;
}

.resize_n {
    width: 100%;
    height: 6px;
    flex-direction: row;
    left: 0;
    top: 0;
    cursor: n-resize;
}

.resize_e {
    width: 6px;
    height: 100%;
    flex-direction: column;
    top: 0;
    right: 0;
    cursor: e-resize;
}

.resize_s {
    width: 100%;
    height: 6px;
    flex-direction: row;
    left: 0;
    bottom: 0;
    cursor: s-resize;
}

.resize_w {
    width: 6px;
    height: 100%;
    flex-direction: column;
    top: 0;
    left: 0;
    cursor: w-resize;
}

.resize_se {
    cursor: se-resize;
    bottom: 0;
    right: 0;
    width: 5px;
    height: 5px;
}

.resize_sw {
    cursor: sw-resize;
    bottom: 0;
    left: 0;
    width: 5px;
    height: 5px;
}

.resize_ne {
    cursor: ne-resize;
    top: 0;
    right: 0;
    width: 5px;
    height: 5px;
}

.resize_nw {
    cursor: nw-resize;
    top: 0;
    left: 0;
    width: 5px;
    height: 5px;
}