.pager_wrapper {
   padding: 8px;
   overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background: #f3f3f4;
   border-bottom: 1px solid #ccc;
   border-right: 1px solid #ccc;
   border-left: 1px solid #ccc;
   flex: 0 0 auto;
}

.simple{
   padding: 0
}
.pager,
.pagination {
   display: flex;
   align-items: stretch;
   justify-content: flex-start;
}
.pager {
   gap: 24px;
}

.pagination > [name="next"],
.pagination > [name="last"]{
   transform: rotate(180deg);
}

.pages {
   display: flex;
   align-items: center;
   justify-content: center;
}

.activePage {
   background-color: #1274AC;
   color: #fff;
}
